@mixin clearfix {
  // For modern browsers
  &:before,
  &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

  // For IE 6/7 (trigger hasLayout)
  & {
    zoom:1;
  }
}

.group {
  @include clearfix;
}